.thumbnail {
    width:100%;
    /*object-fit: contain; shape를 유지한다.*/
    /*object-position: top;shape를 유지하면서 왼쪽이나 오른쪽을 보여줌*/
}



.video-title {
    margin-top: 0;
    font-size:14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}


.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}
.video-author,
.video-stats{
    font-size:12px;
    color:rgb(96,96,96);
    
}
.video-author{
    margin-bottom: 4px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*fr: free space*/
    column-gap: 16px;/*column사이의 간격*/
    row-gap: 14px;/*위아래 그리드 간격*/
    
    
}
@media(max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media(min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video-title{
        font-size: 16px;
    }
    .video-author{
        font-size: 14px;
    }
    .video-stats{
        font-size: 14px;
    }
}



.video-time{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;  
    border-radius: 2px;
    background-color: black;
    color: white;
    position:absolute;
    bottom:8px;
    right:5px;
}
.profile-picture-container{
    position:relative;
    display: inline-block;
}
.channel-tooltip{
    display: flex;
    width: 200px;
    padding: 12px 12px;
    align-items: center;
    box-shadow: 0px 1px 5px rgb(0,0,0,0.25);
    background-color: white;
    border-radius: 8px;
    top:55px;
    position:absolute;
    z-index: 300;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events:none;
}
.img-tooltip{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 8px;
}
.video-author-tooltip{
    font-family: Roboto, Arial;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}
.subscribers-tooltip{
    font-family: Roboto, Arial;
    color: rgb(96, 96, 96);
    font-size: 14px;
}
.profile-picture-container:hover .channel-tooltip{
    opacity: 1;
}